spring:
  application:
    ui:
      title: Terran Republic Interstellar Plotting System (TRIPS)

  # spring datasource requirements
  datasource:
    hikari:
      minimum-idle: 0
      initialization-fail-timeout: -1
      connectionTimeout: 20000
      maximumPoolSize: 5
      poolName: HikariPoolTrips
    url: jdbc:h2:file:./data/tripsdb
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    databasePlatform: org.hibernate.dialect.H2Dialect
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  sql:
    init:
      continue-on-error: true

server:
  servlet:
    context-path=/employee-management:logging:
  level:
    reactor:
      netty:
        http:
          client:
            HttpClient=DEBUG:
    org:
      springframework=DEBUG:
app:
  title: Terran Republic Interstellar Plotting System (TRIPS)
  version: v0.8.0
  releaseDate: 10 December 2023
  contributors: LJ Mitchell, CE Gannon, R Boatright
  projectPage: https://github.com/ljramones/trips
  fileDirectory: files
  programdata: files/programdata/
  scriptDirectory: files/scriptfiles/



